<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Senang-Senang</title>
    <%-include("partial/source-head")%>
</head>
<body>
    <%-include("partial/navbar",{session:session})%>
    
    <div class="container course-hehe">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#detail">Detail</a></li>
            <li><a data-toggle="tab" href="#quiz">Quiz</a></li>
          </ul>
        
          <div class="tab-content">
            <div id="detail" class="tab-pane fade in active">
                <%-course.detail%>
            </div>
            <div id="quiz" class="tab-pane fade mt-5">
                    <button class="btn btn-success btn-block" id="quiz-btn">Mulai Quiz</button>
                    <div id="q"></div>
                    <script>
                      $('#quiz-btn').click(function(){
                        $(this).css('display','none')
                        var url='/course/quiz/<%=course.id%>';
                        $.get(url,function(result){
                          $('#q').html(result);
                        }).fail(function(){
                          $('#q').html('Ada error');
                        })
                        $('#q').html('Mohon tunggu');

                      })
 
                    </script>
            </div>

          </div>
    </div>

    <%-include("partial/footer")%>
</body>
</html>