<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Senang-Senang</title>
    <%-include("partial/source-head")%>

</head>
<body>
    <%-include("partial/navbar",{session:session})%>
    <div class="container course-hehe">
        <div class="row">
            <div class="course-summary">
                <h2 class="text-center"><%=course.name%></h2>
                <%-course.summary%>
            </div>

            <% if(session.user){%>
                <button class="btn btn-success btn-block">Ambil Kursus ini</button>
            <%}else{%>
                <h3 class="bold">Anda harus login untuk melanjutkan</h3>
            <%}%>
        </div>
    </div>

    <%-include("partial/footer")%>
</body>
</html>